<ion-list>
  <ion-item class="item-input">
                <span class="item-input-wrapper" style="margin-right:14px">
                        <i class="icon ion-ios-search placeholder-icon" ng-click="search()"></i>
                        <input id="search" type="search" placeholder="单据单号/关键词" ng-model="searchCont.key">
                   <i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                      on-tap="clearSearch()" ng-if="searchCont.key.length"></i>
                 </span>
    <i class="" style="vertical-align: middle;margin-right:14px;"
       on-tap="clearSearch()" >取消</i>
  </ion-item>
  <ion-item class="" ng-repeat="item in itemArr2" ng-click="toProducerList(item.FBillNo)">
    <h2><span>单据编号：</span><span>{{item.FBillNo}}</span></h2>
  </ion-item>
</ion-list>
